 <!DOCTYPE HTML>
  <html dir="rtl">
<head>
  		 <TITLE>ETMS</TITLE>   
  		 <meta charset="UTF-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1">
  		 <link rel="stylesheet" type="text/css" href= "stylesheet.css">
		  <link rel="stylesheet" href="style.css">
		   <link rel="stylesheet" type="text/css" href= "bootstrap.css"> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

	<style>
	h4{color:#009999;}
	a{color:#fff;}	
	#logoAndHead
{
	border:none;
	margin-left:auto;
	width:5%; 
}
#logoimg
{
	
	display: block;
	width:70%;
}

	</style>
<script>

function validateForm() {
    var txtMisparZehut = document.forms["Add_TikOved"]["txtMisparZehut"].value;
    if (txtMisparZehut.length != 9) {
        alert("יש להזין תעודת זהות בת 9 ספרות");
        return false;
    }
}

function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>	
</head>


<body>
  <header>
        <div id="logoAndHead">
            <a href="home.html"><img id=" logoimg" src="ETMS.jpg" alt="logo" ;width="120" height="120"></a>
        </div>
		 <nav class="topnav" id="myTopnav">
           <ul id="navbar">
		   <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">תפריט</a></li>
             <li><a href="TikOved.html">פרופיל אישי</a></li>
              <li><a href="Bakasha.html">בקשת יציאה לקורס חיצוני</a></li>
              <li><a href=#>יציאה לקורס פנימי בארגון</a></li>
              <li><a href=#>הקורסים שלי</a></li>
            </ul>
        </nav>
		<a id="logout" href=#>התנתקות</a>
     </header>
<body>
    <div id="overlay"></div>
    <div class="row">
            <div class="page-header">
                <div>
                    <h1 class="headerh1 headrRashi">
                      פתיחת תיק עובד <small class="displayInlineBlock ng-binding">תיק מידע אישי של עובד </small>

                    </h1>
               </div>    
            </div>
			
            <div id="mainContent">
                <div class="container-fluid clearfix">
                    <section class="clearfix clear">
                        <div class="clearfix">
                            <div id="alerts"></div>
                            <div class="clearfix" style="background-color:#fff;margin-top:0px;">
                                <section class="clearfix clear">
                                  <div class="container-fluid ng-scope" ng-view=""><div ng-controller="TofesBakasha" ng-init="init();" class="ng-scope">
    
    <div class="panel panel-default panel-bakasha paddingAll10">
			<form id="Add_TikOved" action="#" onsubmit="return validateForm()" method="post">
            <label class="row tikColor">
                <strong>                  
                </strong>
            </label>
            <br><br>
            <p class="mandatory">השדות המסומנים ב<span class="text-danger"> * </span>הם שדות חובה</p>
			
<h4> פרטים אישיים </h4>
            <div class="row">
				<div class="form-group col-md-2 col-lg-2">
				<span class="text-danger"> * </span><label id="txtMisparOved" class="control-label" for="txtMisparOved">מספר עובד</label>
                        <input type="number" id="txtMisparOved" name="txtMisparOved"class="form-control" required="required">
				</div>
				     
				<div class="form-group col-md-2 col-lg-2">
				 <span class="text-danger"> * </span><label id="txtMisparZehut" class="control-label" for="txtMisparZehut">תעודת זהות</label>
				<input pattern=".{9,9}" class="form-control" id="txtMisparZehut";" name="txtMisparZehut";"  type="number"  required="required" />				
			   </div>
			  
				<div class="form-group col-md-2 col-lg-2">
						<span class=" text-danger"> * </span><label id="txtShemPrati" class="control-label">שם פרטי</label>
                        <input type="text" id="txtShemPrati" name="txtShemPrati" class="form-control" required="required" >
                </div>
                   <div class="form-group col-md-2 col-lg-2  
                  <span class=" text-danger"> * </span><label id="txtShemMishpacha" class="control-label">שם משפחה</label>
                        <input type="text" id="txtShemMishpacha" name="txtShemMishpacha" class="form-control" required="required" >
                   </div>
                   <div class="form-group col-md-2 col-lg-2  
                   <span class=" text-danger"> * </span><label id = "txtTarLeda" class="control-label">תאריך לידה</label>
                      <input type="date" id="txtTarLeda" name="txtTarLeda" class="form-control" required="required">
                </div>
            </div>
            <div class="row">
                 <div class="form-group col-md-2 col-lg-2">
                     <span class=" text-danger"> * </span><label id="MinSelect" class="control-label" for="MinSelect">מין</label>
                    <select name="MinSelect" id="MinSelect"  class="form-control" required="required"><option value="?" selected="selected"></option><option label="זכר" value="number:1">זכר</option><option label="נקבה" value="number:2">נקבה</option></select>
               </div>
				 <div class="form-group col-md-2 col-lg-2">
                   <label id="status" class="control-label" for="status">מצב משפחתי</label>
                    <select name="status" id="status" class="form-control" required="required"><option value="?" selected="selected"></option><option label="נשוי/אה" value="number:1">נשוי/אה</option><option label="גרוש/ה" value="number:2">גרוש/ה</option><option label="רווק/ה" value="number:3">רווק/ה</option><option label="אלמן/ה" value="number:3">אלמן/ה</option></select>
                </div>
               <div class="form-group col-md-4 col-lg-4">
                   <span class=" text-danger"> * </span><label id="txtEmail" class="control-label">דואר אלקטרוני</label>
                        <input type="email" id="txtEmail" name="txtEmail" class="form-control" required="required"> 
                 </div>
                      <div class="form-group col-md-4 col-lg-4">
                    <span class="text-danger"> * </span><label id="txtPel" class="control-label">טלפון סלולרי</label>
                    <div class="form-inline"> 
                        <input type="tel" id="txtPel" name="txtPel" class="form-control" required="required"> -
                        <select name="KidometSelect" id="KidometSelect" class="form-control" required="required"><option value="?" selected="selected"></option><option label="054" value="string:054">054</option><option label="051" value="string:051">051</option><option label="059" value="string:059">059</option><option label="058" value="string:058">058</option><option label="053" value="string:053">053</option><option label="055" value="string:055">055</option><option label="052" value="string:052">052</option><option label="050" value="string:050">050</option><option label="056" value="string:056">056</option></select>
                    </div>

                </div>
            </div>
			    <div class="row">
                <div class="form-group col-md-2 col-lg-2">
					<span class="text-danger"> * </span><label id="yeshuv" class="control-label" for="yeshuv">ישוב</label>
                     <input type="text" name="yeshuv" class="form-control" required="required">
					</div>
				<div class="form-group col-md-2 col-lg-2">
					<span class="text-danger"> * </span><label id="street" class="control-label" for="street">רחוב</label>
                     <input type="text" name="street" class="form-control" required="required">
					</div>	
					<div class="form-group col-md-2 col-lg-2">
					<span class="text-danger"> * </span><label id="MisparBait" class="control-label" for="MisparBait">מס' בית</label>
                     <input type="number" name="MisparBait" class="form-control" required="required">
					</div>
					<div class="form-group col-md-2 col-lg-2">
					<label id="MisparDira" class="control-label" for="MisparDira">דירה</label>
                     <input type="number" name="MisparDira" class="form-control">
					</div>
					<div class="form-group col-md-2 col-lg-2">
					<label id="Mikud" class="control-label" for="Mikud">מיקוד</label>
                     <input  type="text" name="Mikud" class="form-control">
					</div>
                </div>
				
			    <div class="row">
				<div class="form-group col-md-2 col-lg-2">
					<span class="text-danger"> * </span><label id="Misra" class="control-label" for="Misra">סוג משרה</label>
                    <select name="Misra" id="Misra" ng-required="true" ng-options="item.CODE as item.TEUR for item in MinList" ng-disabled="userInOvh" ng-model="tofesBakashaSismaData.CODE_MIN_TIK" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="required"><option value="?" selected="selected"></option><option label="מלאה" value="number:1">מלאה</option><option label="חלקית" value="number:2">חלקית</option></select>
                </div>
               <div class="form-group col-md-2 col-lg-2">
                   <span class="text-danger"> * </span> <label id="Tafkid" class="control-label">תפקיד</label>
                        <input ng-required="true" ng-maxlength="12" type="text" name="Tafkid" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="tofesBakashaSismaData.SHEM_PRATI_TIK" ng-pattern="/^[\u0590-\u05FF ]+$/" ng-disabled="userInOvh" required="required">
                </div>
				<div class="form-group col-md-2 col-lg-2">
                  <span class="text-danger"> * </span> <label id="Machlaka" class="control-label" for="Machlaka">מחלקה</label>
                    <select name="Machlaka" id="Machlaka" class="form-control" required="required"><option value="?" selected="selected"></option><option label="Hr" value="number:1">Hr</option><option label="It" value="number:2">It</option><option label="Development" value="number:3">Development</option><option label ="Finance" value="number:4">Finance"</option><option label="General" value="number:5">Finance</option></select>
                </div>
				<div class="form-group col-md-2 col-lg-2">
					<span class="text-danger"> * </span><label id="Salary" class="control-label" for="Salary">שכר</label>
                     <input  type="number" name="Salary" class="form-control" required="required">
				</div>
			
				    <div class="form-group col-md-2 col-lg-2"> 
                   <span class=" text-danger"> * </span><label id = "startDate" class="control-label">תאריך תחילת עבודה</label>
                      <input type="date" id="startDate" name="startDate" class="form-control" required="required">
                </div>
            </div>
            
            
            <br>
                   <div class="row">
                      <div class="form-group col-md-3 padR10" ng-hide="userInOvh">
            <br>
            <input type="submit" class="btn btn-info" value="שמירה" />
			<input type="reset" class="btn btn-info" value="איפוס" />
</div>  
        </form>
		</div>
</body>	 	  
